@font-face {
    font-family: 'Jost';
    src: url(jost-v14-latin_cyrillic-600.ttf),
	url(jost-v14-latin_cyrillic-600.svg);
}

html,body {
	height: 100%;
}


.header_basic {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 80px;
	background-color: #2a307a;
	left: 0;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo_pic {
	max-width: 300px;
	max-height: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1;
	margin-left:10px;
}
.main_menu{
	display:flex;
	margin-right:10px;
	padding-right:20px;
}

.menu_punkt{
	list-style:none;
	color: white;
	font-size: 20px;
	margin-left: 100px;
	text-decoration: none;
	font-family: 'Jost', normal;
	display:flex;
	margin-top:0px;
	transition:  all 0.3s ease 0s;

}
.menu_punkt:hover{
	color: #c1272d;
	transition:  all 0.3s ease 0s;

}
.menu_punkt.active{
	color: #c1272d;
	font-size: 25px;
	transition:  font-size 0.3s ease 0s;
	margin-top:5px;

}
.menu_punkt_text{
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	display: flex;
	font-family: 'Jost', normal;
	transition:  color 0.3s ease 0s;
	margin-top:-8px;
	width:default;
	height:default;
	-ms-user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.more_button{
	width: 8px;
    height: 8px;
    border-top: 4px solid white;
    border-right: 4px solid white;
	margin-top: inherit;
	transform: rotate(45deg);
	transition:  all 0.3s ease 0s;
	border-color:inherit;
	
}
.more_button.active{
	transition:  all 0.3s ease 0s;
	transform: rotate(135deg);	
	margin-right: -5px;
	margin-left: 5px
}

.submenu{
	display:block;
	position:fixed;
	background-color:#2a307a;
	z-index:4;
	padding:10px;
	top:-100px;
	transition:  all 0.3s ease 0s;
}
.submenu.active{
	transition:  all 0.3s ease 0s;
	top:80px;
}















.bg {
	width: 100vw;
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(main_bg.png);
	background-repeat: round;
	display:flex;
	top:0;
	left:0;
	margin-top: 54px;
	margin-left:-8px;
}


.search_button{
	margin-left: 100px;
	width:20px;
	height:20px;
	margin-right: 10px;
	display: block;
	margin-top: -8px;
	transition:  all 0.3s ease 0s;
}
.search_button_circle{
	width:20px;
	height:20px;
	border: 6px solid white;
	border-radius: 100%;
	margin-left:13px;
	background-color:#2a307a;

}
.search_button_stick{
	border-right: 6px solid white;
	height:25px;
	transform: rotate(45deg);
	margin-top:-14px;

}


.submenu_punkt_text{
	color: white;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	font-family: 'Jost', normal;
}
.submenu_punkt{
	list-style:none;
	color: white;
	font-size: 20px;

	text-decoration: none;
	font-family: 'Jost', normal;
}


.active{
	
}







.search_menu{
	height:100vh;
	width:100vw;
	position: fixed;
	z-index:3;
	margin-left:-8px;
	margin-top:-100vh;
	background: linear-gradient(rgba(179,179,179,0.9), rgba(179,179,179,0.9));
	opacity:0%;
	transition:  all 0.3s ease 0s;
}
.search_menu_button{
	width:40px;
	height:55px;
	display:flex;
	-ms-user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	margin-top:45px;
	margin-left:5px;
}
.search_menu_field{
	display:flex;
	font-family: 'Jost', normal;
	font-size: 20px;
	height:50px;
	margin: 0px;
	border: 0px;
	padding:0px;
	text-align:center;
	-ms-user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	width:70vw;
	margin-left:15vw;
	border-bottom:3px solid black;
	background:none;
	margin-top:40px	
}
.search_menu.active{
	margin-top:54px;
	opacity:100%;
	transition:  all 0.3s ease 0s;
}



.cont{
	display:block
}
.lenta_img{
	width:25vw;
	height:25hv;
	margin-left:16vw;
	border-radius:5%;
	margin-bottom:10px;
	margin-right:17vw;
}
.lenta_block{
	align-items: center;
	display:block;
	width:58vw;
	margin-left:21vw;
	display: block;
	background-color: #b3b3b3;
	padding-top: 10px;
	align-items: center;
	margin-bottom:20px;
}
.txt_and_autor{
	display:flex;
	margin-left:14vw;
	max-width:30vw;
	justify-content: space-between;
	margin-right:15vw;
	align-items: center;
	margin-bottom:10px;
}
.txt{
	float:left;
	font-family: 'Jost', normal;
	color: black;
	font-size:20px;
	display:flex;
	max-width:15vw;
	text-decoration: none;
}
.autor{
	max-width:15vw;
	float:right;
	font-size:17px;
	display:flex;
	align-items: center;
}
.autor_text{
	font-family: 'Jost', normal;
	color: black;
	font-size:17px;
	display:flex;
	margin-right:5px;
	text-decoration: none;
}
.autor_img{
	width:2vw;
	height:2hv;
	border-radius:50%;
	display:flex;
}